@import "~bootstrap/scss/bootstrap";

a {
  text-decoration: none;
  color: #3aa6f0;
}

.logo {
  height: 100px;
  width: 100px;
}

.title {
  margin: 2em 0;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ff9362;
  --bs-btn-border-color: #ff9362;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #fe7838;
  --bs-btn-hover-border-color: #fe7838;
  --bs-btn-active-bg: #e66b33;
  --bs-btn-active-border-color: #e66b33;

  &:hover {
    box-shadow: 0 0 10px 1px #00000025;
  }
}

.made-by {
  color: #3aa6f0;

  border-bottom: 1px solid #2e84be00;
  transition: 0.1s;

  &:hover {
    color: #2e85be;
    border-bottom: 1px solid #2e85be;
  }
}

.decorative-img {
  height: 40px;
  width: 40px;
  border-radius: 15px;
  margin-right: 15px;
}

.form-control:focus {
  border-color: #fe7838;
  outline: 0;
  box-shadow: 0 0 10px 1px #00000025;
}
