@import "~bootstrap/scss/bootstrap";

* {
  --bs-border-radius: 8px;
}

a {
  text-decoration: none;
  color: #3aa6f0;
}

.logo {
  height: calc(5rem + 1.5vw);;
  margin-bottom: 1rem;
}

.title {
  margin: 2em 0;
}

.made-by {
  color: #61bbff;

  border-bottom: 1px solid #2e84be00;
  transition: 0.2s;

  &:hover {
    color: #38a9ff;
    border-bottom: 1px solid #38a9ff;
  }
}

.decorative-img {
  height: 40px;
  border-radius: 15px;
  margin: 0 15px;
}

.rss-form {
  margin-bottom: 15px;
}

.form-floating {
  text-overflow: ellipsis;
  white-space: nowrap;

  > label {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #fe844d;
  --bs-btn-border-color: #fe844d;

  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f17e48;
  --bs-btn-hover-border-color: #f17e48;

  --bs-btn-active-bg: #e77844;
  --bs-btn-active-border-color: #e77844;

  --bs-btn-disabled-bg: #ff9b6d;
  --bs-btn-disabled-border-color: #ff9b6d;

  &:hover {
    box-shadow: 0 0 10px 1px #00000025;
  }
}

.add {
  height: calc(3.5rem + var(--bs-border-width) * 2);
  min-height: calc(3.5rem + var(--bs-border-width) * 2);
}

.form-control:focus {
  border-color: #fe844d;
  outline: 0;
  box-shadow: 0 0 10px 1px #00000025;
}

.example-container {
  display: flex;
  margin-left: 12px;
  cursor: pointer;
  color: #e77844;

  transition: color 0.2s;

  .example-link {
    text-decoration: underline;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    transition: color 0.2s;
  }

  &:hover {
    color: #bd6137;
  }
}

.feedback {
  display: block;
  padding: 6px 12px;
  text-wrap: wrap;
}

.channels-and-posts {
  margin-bottom: 50px;
}

.dropdown {
  button {
    border: var(--bs-border-width) solid var(--bs-border-color);
  }

  .dropdown-menu {
    padding: 0;
    --bs-dropdown-link-active-bg: #e77844;

    li {
      margin: 5px;
    }

    .dropdown-item {
      border-radius: 5px;
    }

    .active {
      background: #ffa880;
    }
  }
}

.footer .col-auto {
  padding: 0;
}

.card {
  transition: 0.2s;
  &:hover {
    background: rgb(240, 240, 240);
  }
  &:active {
    background: rgb(221, 221, 221);
  }
}

.modal-footer {
  justify-content: space-between;
}

.post-read {
  color: rgb(180, 180, 180);
  transition: 0.2s;

  .card-subtitle {
    color: rgb(180, 180, 180) !important;
    transition: 0.2s;
  }
}
